body {
    background-color: rgb(19, 21, 25);
    font-family: Roboto;
}

body h1 {
    color: white;
    margin-top: 10px;
}

header, footer {
    background-color: rgb(24, 30, 43);
}

header a, a:hover {
    color: white;
    text-decoration: none;
}

header h1 {
    padding: 20px;
    color: white;
    
}

header h3 {
    padding-top: 40px;
    color: white;
}

header nav {
    padding-top: 10px;
    display: inline-flex;
    margin: auto; 
    flex-wrap: wrap;
}

nav a {
    padding-right: 10px;
    padding-left: 10px;
}

header p {
    margin-right: 10px;
}

.imgCase img {
    padding: 5px;
    margin-bottom: 5px;
}


footer h1, footer h5 {
    color: white;
}

.content {
    padding-bottom: 15px;
    color: white;
    font-family: Calibri;
    text-align: left;
}
