a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    margin: 4px
}

ul {
    list-style-type:disc
}

#topBar {
    text-align: center;
    margin: 20px;

    
}

#topBarColor {
    border-bottom: solid;
    border-color: black;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

#centerPic {
    display: block;
    margin: auto;
    margin-top: 5px
}