body {
    background-image:url(/images/Stardew-Valley.jpg);
}

#shrug {
    
}

header {
    border: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    /*background-image: url(/images/Wood%20Background.jpg);*/
    
}

header h1 {
    padding: 20px;
    color:black;;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

header nav {
    padding-top: 20px;
    display: inline-flex;
    margin: auto; 
    flex-wrap: wrap;
}

header p {
    margin-right: 10px;
}

.jumbotron {
    padding: 1em;
    background-color: white;
    border: solid black;
    margin-left: 20px;
    margin-right: 20px;
    background-image:url(/images/)
}

.jumbotron h1 {
    
}


#tableOne {
    display: block;
    float: right
}

#tableOne td {
    display: inline-block;
}

#tableTwo {
    float: left;
    display: block;
}

#tableTwo td {
    display: inline-block;
}

td {
    border: 1px solid black;
}

section h1, p {
    text-align: center;
    
}



img.itemImage {
    cursor: pointer;
    align-content: center;
    opacity: .25;
}
