html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #212737;
    font-family: system-ui, sans-serif;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* spreads h2 left and icons right */
}

.project-link {
    color: #ea4d2d;
    height: 30px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 10px; /* space between the icons */
}

nav img {
    height: 40px;
}

a {
    text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 5px;
}

h1, h2, h3, p, a , li{
    color: #eaedf3;
}

figure, figcaption {
    margin-left: 0px;
    color: #eaedf3;
}

#project-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-bullets {
    color: #eaedf3;
    list-style: circle;
    padding-left: 1.25rem;
}

.project-images img {
    max-width: 48rem;
    height: auto;
    display: block;
    margin: 1rem 0;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.project-images figure {
    margin-bottom: 1.5rem
}
.project-images figcaption {
    text-align: center;
    padding-top: 5px;
}

.key-features ul {
    list-style: none;
    padding-left: 0rem;
}

.list-item-description {
    padding-left: 2rem;
    padding-bottom: 1rem;
}
#pic-of-me {
    height: 300px;
}

.me-summary {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    color: white;
}

.me-text {
  display: flex;
  flex-direction: column;
}

.me-text ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 0;
}

#email-link {
    color: #ea4d2d;
    padding-bottom: 10px;
}
