
#hero-table tr, td {
    text-align: left;
    padding-right: 100px;
    padding-bottom: 5px;
    padding-top:5px;
    word-wrap: normal;
}

#hero-table th {
    text-align: center;
}

#hero-table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-right: 1px solid black;
}
