<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title></title>
    </head>
    <body>
        <header>
            <nav>
                <h2><a href="/index.html">Quang Tran</a></h2>
                <div class="nav-links">
                <a href="/assets/documents/Quang Tran CV.pdf" target="_blank"><img src="/assets/images/icons/resume.svg" alt="Resume"></a>
                <a href="https://github.com/qtran1018" target="_blank"><img src="/assets/images/icons/github-mark-white.svg" alt="GitHub"></a>
                <a href="https://www.linkedin.com/in/qtran1018/" target="_blank"><img src="/assets/images/icons/linkedin.svg" alt="LinkedIn"></a>
                </div>
            </nav>
        </header>
        <main>
            <section id="project-description">

            </section>
            <hr>
            <section id="projects">
                <h2></h2>
                <a href="" alt="GitHub Link">
                    <img class="project-link" src="/assets/images/icons/github-mark-white.svg"/>
                    Link to repository
                </a>
                <h3></h3>
                <p></p>
                <p></p>
                <p>Below are the tools and libraries used:</p>
                <ul class="project-bullets">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <hr>
                <h3>Figures</h3>
                <figure>
                    <img src=""/>
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <img src=""/>
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <img src=""/>
                    <figcaption></figcaption>
                </figure>
            </section>
        </main>
        <hr>
        <footer>
            <p>Copyright © 2025 ? | All rights probably reserved</p>
            <a id="email-link" href="mailto:qtran1018@gmail.com">Send me an email</a>
        </footer>
    </body>
</html>